.questionContainer{
  height: 100%;
  overflow: auto;
}
.question{
  border:4px solid #B5A490;
  margin: 0.5rem 0.5rem;
  height: 60%;
}
.questionHr{
  margin: 0 0rem;
  background-color:#CFBDA6;
  color: #CFBDA6;
  border-radius: 2.666667rem;
  opacity: 1;
}
.questionDesc{
  height:13rem;
  margin-top:1rem;
  margin-bottom:1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.hint{
  height:100%;
  margin-top:2rem;
  margin-bottom:1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.hint >.hint-img-container> .hint-img{
  width:64%;
  max-height: 100%;
  height:100%;
  align-items: center;
  border:2px dashed #B5A490;
}
.hint-img-container{
  width:100%;
  height:35%;
}
.image{
  max-width: 100%;
  height: auto;
  max-height: inherit;
}
.hint > .hint-desc{
  max-height: 50%;
  height:50%;
  padding:1rem;
  position: relative;
}
.hint > .hint-word{
  word-wrap: break-word;
}
.answer-container{
  height:calc(40% - 1rem);
}
.sideRaccoon{
  width:18%;
  height:auto;
  max-height: 100%;
}
.magnifier{
  width:18%;
  height:40%;
}
.footprint{
  width:40vw;
  margin-left: 50vw;
}
.bottomRaccoon{
  height:30%;
  position:absolute;
  bottom:0%;
  left:60%;
}