.raccoon-container{
  position:relative;
  height: 100%;
  width:100%;
  background-color: #2F2D2C;
  /* overflow: hidden; */
}
.raccoon-container > .raccoon{
  position:absolute;
  top:-63.5svh;
  left:-13vw;
  height: 140%;
  width:140%;
}
.raccoon > img{
  width:100%;
  height:auto;
}
.pipe{
  position:absolute;
  top:-44.5svh;
  left:0px;
  height: 100%;
  width:100%;
}
.pipe > img{
  width:100%;
  height:auto;
}
.smoke{
  position:absolute;
  top:-44.5svh;
  left:0px;
  height: 100%;
  width:100%;
}
.smoke > img{
  width:100%;
  height:auto;
}

.raccoon-text{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  white-space: break-word;
}
.raccoon-text-container{
  
  position: relative;
  top:4%;
  right:-55.5%;
  width:6.5rem;
  height:6rem;
}