.cards{
  height:42%;
  width:100%;
}
.card{
  background-color: transparent;
  border: none;
}
.card-content{
  /* background-color: #D8D8D8; */
  
  border-radius: 1.3337rem;
  height:100%;
  width:30vw;
  padding-right: 0.8rem !important;
  opacity: 0;
}
.cardimage{
  max-width: 100%;
  height: auto;
  max-height: 80%;
  border-radius: 1.3337rem;
  margin:0 auto;
}
.pressing{
  transform:scale(1.2);
  transition: all 0.8s ease;
}
.down{
  transform: scale(1);
  transition: all 0.8s ease;
}
.resetPosition{
  position:fixed;
  top:0svh;
}
.cardFocus{
  width:100vw;
  height:100svh;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  top:0svh;
}
.cardFocus.focusOut{
  animation: cardFocusOut 0s ease 1s forwards;
}
.cardFocus.focusIn{
  animation: cardFocusIn 0s ease forwards;
}
@keyframes cardFocusIn{
  0%{
    top:100svh;
    opacity: 0;
  }
  100%{
    top:0svh;
    opacity: 1;
  }
}
@keyframes cardFocusOut{
  0%{
    top:0svh;
    opacity: 1;
  }
  100%{
    top:100svh;
    opacity: 0;
  }
}
@keyframes focusInAnimation{
  0%{top:20%;opacity: 0;}
  100%{top:17.5%;opacity: 1;}
}
@keyframes focusOutAnimation{
  0%{top:17.5%;opacity: 1;}
  100%{top:20%;opacity: 0;}
}
.focus.focusOut{
  animation: focusOutAnimation 1s ease forwards;
}
.focus.focusIn{
  animation: focusInAnimation 1s ease forwards;
}
.cardFocus-container{
  position:relative;
  width: 100%;
  height: 100%;
}
.backBtn{
  position:absolute;
  top:1rem;
  left:1rem;
}
.focus{
  position:absolute;
  width:65%;
  height:40%;
  left:17.5%;
  top:17.5%;
  padding-top:2rem !important;
  padding-bottom: 1rem !important;
  border-radius: 1.666667rem;
  transform: rotate(15deg);
  padding-right: 1rem !important;
}
.focus-question{
  width:80%;
  position:absolute;
  top:70%;
  left:10%;
}

.focus-cardimage{
  max-width: 90%;
  max-height: 100%;
  height: auto;
  min-width:60%;
  border-radius: 1.3337rem;
  margin:0 auto;
}
.focus-text{
  color:#FBE5C5;
  font-size: 18px;
  word-wrap: break-word;
}
.focus-next{
  position:absolute;
  top:80%;
  left:30%;
  width:40%;
}
.focus-next > .focus-btn{
  width:100%;
  font-size: 1.25rem;
  height:2em;
  background-color: #A4845F;
  border:1px solid #A68D71;
  border-radius: 2.6666667rem;
  color:#FBE5C5;
}
.cardDisplay{
  animation: cardDisplayAnimation 0.5s ease 0.7s forwards;
}
@keyframes cardDisplayAnimation{
  0%{
    margin-top: 1rem;
    opacity: 0;
  }
  100%{
    margin-top: 0rem;
    opacity: 1;
  }
}