.WantedWarrant-container{
  position: absolute;
  height:calc(100vh - 40vh);
  width:100%;
  background-color: #342E40;

}
.WantedWarrant{
  width:100%;
  height:70%;
}
.wanted{
  max-width: 100%;
  height: 90%;
  max-height: 100%;
  border-radius: 1.3337rem;
}
.passed-container{
  width:100%;
  height:45%;
  position: absolute;
  transform: rotate(15deg);
  top:15%;
}
.d-none{
  display: none;
}
.passed{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: none;
}
.passedIn{
  display: block;
  animation: passIn 1s ease forwards;
}
@keyframes passIn{
  0%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}

.eventCompelete{
  color:white;
  font-size: 1.5rem;
  font-weight: 600;
}
.compeleteIn{
  animation: compeleteDisplayAnimation 0.5s ease forwards;
}

@keyframes compeleteDisplayAnimation{
  0%{
    margin-top: 1rem;
    opacity: 0;
  }
  100%{
    margin-top: 0rem;
    opacity: 1;
  }
}